<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Connection" connectionString="data source=DESKTOP-GR2LSE4\SQLEXPRESS; initial catalog=InflationCalc;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
			<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>